*{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;

    /*QUITA LA OPCION DE PODER COPIAR EL TEXTO DE LA PAGINA*/
    user-select: none;  /* Deshabilita la selección de texto */
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;  /* Firefox */
    -ms-user-select: none;  /* Internet Explorer/Edge */
}
input, textarea, select, button {
    touch-action: manipulation;
}
a{
    text-decoration: none;
    color: black;
}
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    /*overflow-x: hidden;*/  /* Evita desbordamiento horizontal */
    background-color: rgb(17, 17, 17);
    /*background-color: rgb(255, 43, 43);*/
}
button{
    cursor: pointer;
}

/*CARRITO DE COMPRAS*/
#contenedor_header_compras{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    /*background-color: aqua;*/
}
#carrito_compras_logo{
    width: 1rem;
}
#atras{
    width: 10%;
    display: flex;
    justify-content: center;
    margin-left: 0.8rem;
    border: 0;
    background: none;
}
#atras_logo{
    width: 2rem; 
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
#titulo_header{
    font-size: 1.3rem;
    width: 90%;
    display: flex;
    margin-right: 10%;
    justify-content: center;
    font-weight: bold;
    /*background-color: rgb(255, 0, 0);*/
}

#contenedor_main_compras{
    display: flex;
    justify-content: center;
}

#carrito_contenido{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 80px;
    /*background-color: blue;*/
}

#contenedor_botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    /*background-color: aqua;*/
    position: fixed; /* Fija el contenedor */
    bottom: 0; /* Ubica el contenedor en la parte inferior */
    left: 0; /* Alinea el contenedor a la izquierda */
    right: 0; /* Alinea el contenedor a la derecha */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    margin-bottom: 15px; /* Elimina el margen inferior */
}
#contenedor_botones_pedido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 40px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(71, 71, 71, 0.801);
}
#contenedor_valor{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}
#cantidad_producto{
    font-size: 0.7rem;
    color: white;
}
#span_valor{
    color: rgb(255, 255, 255);
}
#boton_hacer_pedido{
    color: black;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    margin-right: 10px;
    background-color: rgb(255, 251, 0);
}

#producto_carrito {
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;
    align-items: center;*/
    margin-bottom: 1.1rem;
    
    width: auto;
    height: 200px;
    border-radius: 0.6rem;
    background-color: rgba(61, 61, 61, 0.233);
    /*background-color: rgb(127, 161, 255);*/
}
#producto_carrito:last-child{
    margin-bottom: 0.2rem;
}

#caja_uno{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /*background-color: blueviolet;*/
}

#comida_logo_size{
    width: 9rem;
    /*margin-top: 0.9rem;
    margin-bottom: 0.8rem;*/
    /*background-color: rgb(255, 255, 255);*/
    padding: 10px;
    border-radius: 12px;
}

#caja_dos{
    width: 50%;
    /*background-color: chocolate;*/
}

#caja_eliminar{
    display: flex;
    align-items: center;
    justify-content: right;
    /*color: rgb(255, 0, 0);*/
    height: 15%;
    /*margin-right: 12px;*/
    /*background-color: rgb(0, 162, 255);*/
}

#btn_eliminar{
    display: flex;
    align-items: center;
    /*font-size: 1.2rem;*/
    /*padding: 0.2rem 0.3rem;*/
    /*border-radius: 0.3rem;*/
    background-color: transparent;
    border: none;
}

#icon_eliminar{
    width: 24px;
    margin-top: 12px;
    margin-right: 5px;
}

#caja_info{
    margin-top: 10px;
    height: 63.4%;
}

#titulo_producto{
    font-size: 1.2rem;
}

#caja_intrucciones{
    text-align: left;
    font-size: 14px;
    margin-top: 12px;
    /*background-color: rgb(190, 17, 17);*/
}

#caja_intrucciones>strong{
    font-size: 16px;
    height: 15%;
}

#instrucciones{
    color: rgb(211, 211, 211);
    text-align: initial;
    width: 95%;
    height: 80px;
    /*padding-left: 3px;
    padding-top: 3px;*/
    resize: none;
    border: none;
    border-radius: 0.2rem;;
    /*background-color: rgba(61, 61, 61, 0.233);*/
    background-color: transparent;
    user-select: none; /* Evita la selección de texto */
    overflow: auto; /* Permite el desplazamiento si el contenido es largo */
}
#instrucciones:focus {
    outline: none;
    /*box-shadow: inset 0 0 0 1px rgb(255, 255, 0);*/
}

#caja_precio_cantidad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    /*background-color: darkgreen;*/
}

#precio{
    font-size: 16px;
    font-weight: bold;
}

#cont_cantidad{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

#producto_carrito_boton_quitar{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 0);
    border: none;
    color: black;
    cursor: pointer;
}
#cantidad{
    display: flex;
    justify-content: center;
    width: 28px;
    color: white;
}
#producto_carrito_boton_agregar{
    font-size: 1.2rem;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 0);
    border: none;
    color: black;
    cursor: pointer;
}


