#color_body{
    background-color: rgb(85, 85, 85);
}
h2{
    color: white;
}

/*Provisional*/
button{
    color: black;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    margin-right: 10px;
    background-color: rgb(255, 251, 0);
}

.modal {
    /*display: none;*/ /* Visible al activarse */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    /*background-color: rgb(253, 77, 77);*/
    background-color: rgba(255, 255, 255, 0.726); /* Color de fondo con algo de opacidad */
    backdrop-filter: blur(2px); /* Efecto de desenfoque en el fondo */
    border-radius: 12px;

    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

.modal-content{
    display: flex;
    flex-direction: column;
    /*background-color: rgb(127, 161, 255);*/
}

#content_tittle_cerrar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /*background-color: blue;*/
}

#btn_cerrar{
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(255, 0, 0);
}

#tittle_metodoEntrega{
    color: black;
}

#content_btn_metodoEntrega{
    padding: 10px;
    /*background-color: blueviolet;*/
}

#btn_metodoEntrega{
    color: black;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    margin-right: 10px;
    background-color: rgb(255, 251, 0);
}
#btn_metodoEntrega:last-child{
    margin-right: 0;
}


#contenedor_full_map{
    position: fixed; /* Fijo para permanecer en la misma posición */
    top: 50%; /* Coloca en el centro verticalmente */
    left: 50%; /* Coloca en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar */

    width: 100%; /* Ocupa todo el ancho de la pantalla */
    max-width: 600px; /* Establece un ancho máximo si lo deseas (opcional) */
    
    height: 100%;
    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.726); /* Color de fondo con algo de opacidad */
    padding: 20px; /* Espaciado interno para el contenido */

    backdrop-filter: blur(2px); /* Efecto de desenfoque en el fondo */
    border-radius: 10px; /* Bordes redondeados (opcional) */

    /* Añade un z-index alto para asegurarte de que esté por encima */
    z-index: 1000; /* Ajusta según sea necesario */
}
#full_map{
    justify-items: center;
    background-color: rgba(37, 37, 37, 0.63);
}

#addressInput{
    width: 250px;
    color: black;
    padding: 8px;
    margin: 12px;
}

#map {
    border: 3px solid yellow;
    border-radius: 10px;
    height: 400px;
    width: 95%;
}

#btn_ubi{
    margin-top: 12px;
    color: black;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    margin-right: 10px;
    background-color: rgb(255, 251, 0);
}