*{
    /*text-align: center;*/
    margin: 0;
    padding: 0;

    /*QUITA LA OPCION DE PODER COPIAR EL TEXTO DE LA PAGINA*/
    user-select: none;  /* Deshabilita la selección de texto */
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;  /* Firefox */
    -ms-user-select: none;  /* Internet Explorer/Edge */
}
input, textarea, select, button {
    touch-action: manipulation;
}
a{
    text-decoration: none;
    color: black;
}
body, html{
    width: 100%;
    overflow-x: hidden;  /* Evita desbordamiento horizontal */
    background-color: rgb(17, 17, 17);
}
button{
    cursor: pointer;
    padding: 4px 4px;
    color: black;
}
ul{
    list-style-type: none;
}
#contenedor_header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 0);
    margin: 0;
}
#btn-atras{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.8rem;
    border: 0;
    background: none;
}
#btn-atras_logo{
    width: 2rem; 
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
#contenedor_img_producto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 0);
    border-radius: 0 0 180px 180px;
    margin-top: 0;
    margin-bottom: 0.8rem;
}
#imagen-producto{
    width: 20rem;
    height: auto;
    margin-top: 7.3rem;
    /*background-color: rgb(255, 123, 0);*/
}
#nombre-producto{
    color: white;
    text-align: initial;
    margin-left: 15px;
    margin-bottom: 10px;
}
#descripcion-producto{
    width: 90%;
    color: rgb(160, 160, 160);
    text-align: initial;
    margin-left: 15px;
    margin-bottom: 10px;
    /*background-color: rgb(255, 0, 0);*/
}
#precio-producto{
    font-size: 1rem;
    color: white;
    text-align: initial;
    margin-left: 15px;
    margin-bottom: 10px;
}
#text_instrucciones{
    font-size: 1.2rem;
    color: white;
    margin-left: 15px;
}
#instrucciones{
    color: rgb(211, 211, 211);
    text-align: initial;
    padding-left: 3px;
    padding-top: 3px;
    width: 90%;
    height: 100px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: none;
    border: none;
    border-radius: 0.2rem;;
    background-color: rgba(61, 61, 61, 0.233);
}
#instrucciones:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px rgb(255, 255, 0); /* Un borde normal sin efectos de resaltado */
}
#instrucciones::placeholder {
    padding-left: 3px;
    padding-top: 3;
}
#contenedor_acompañamiento{
    display: none;
    /*background-color: rgba(255, 0, 0, 0.925);*/
    height: auto;
}
#text_acompañamiento{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    /*background-color: rgb(0, 17, 255);*/
}
#acompañamientos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.1rem;
    margin-top: 5px;
    text-align: center;
    /*background-color: #28a745;*/
}

.acompanamiento-item {
    position: relative;
    flex: 0 0 35%;
    color: rgb(255, 255, 255);
    width: 140px;
    height: 200px;
    gap: 1.1rem;
    border-radius: 0.6rem;
    background-color: rgba(61, 61, 61, 0.233);
    /*background-color: rgba(18, 153, 0, 0.87);*/ /*SOLO PARA PRUEBA*/
}

.etiqueta_info {
    position: absolute;
    top: 0;  /* Ajusta esta posición según necesites */
    right: 0;  /* Ajusta esta posición según necesites */
    z-index: 1; /* Se asegura de que el contador esté por encima del logo */
    background-color: rgb(255, 255, 0);
    color: black;
    border-radius: 0 0.6rem 0 0.6rem;
    padding: 4px 4px;
    font-size: 10px;
}

.acompanamiento-item img {
    width: 95%;
    width: 7.5rem;
    margin-top: 0.9rem;
    margin-bottom: 0.8rem;
    /*background-color: rgb(255, 123, 0);*/
}

.articulo_info {
    margin-bottom: 0.7rem;
    /*background-color: rgb(225, 0, 255);*/
}

.acompanamiento-item h4 {
    display: flex;
    width: 95%;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
    /*background-color: rgb(255, 151, 24);*/
}
.acompanamiento-item h6 {
    display: flex;
    margin-left: 0.5rem;
    margin-bottom: 0rem;
    color: rgb(160, 160, 160);
    /*background-color: rgb(0, 0, 0);*/
}

.contenedor_precio_boton_add{
    display: flex;
    align-items: center;
    /*background-color: blue;*/
}

.acompanamiento-item h5 {
    display: flex;
    width: 95%;
    margin-left: 0.5rem;
    /*background-color: rgb(113, 113, 255);*/
}

.boton_add {
    font-size: 0.9rem;
    color: black;
    border: none;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    margin-left: 0.4rem;
    margin-right: 0.5rem;
    background-color: rgb(255, 255, 0);
}


















#contenedor_cantidad_btn-agregar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    /*background-color: rgb(208, 158, 255);*/
    margin-top: 20px; /*USADO DE FORMA TEMPORAL*/
    margin-bottom: 20px; /*USADO DE FORMA TEMPORAL*/
}
#contenedor_cantidad{
    /*background-color: aqua;*/
    margin-left: 15px;
}
#contenedor_btn-agregar{
    /*background-color: bisque;*/
    margin-right: 15px;
}
#btn-restar{
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 0);
    border: none;
    color: black;
    cursor: pointer;
}
#cantidad{
    color: white;
}
#btn-sumar{
    font-size: 1.2rem;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 0);
    border: none;
    color: black;
    cursor: pointer;
}
#btn-agregar{
    color: black;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(255, 251, 0);
}