*{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;

    /*QUITA LA OPCION DE PODER COPIAR EL TEXTO DE LA PAGINA*/
    user-select: none;  /* Deshabilita la selección de texto */
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;  /* Firefox */
    -ms-user-select: none;  /* Internet Explorer/Edge */
}
input, textarea, select, button {
    touch-action: manipulation;
}
a{
    text-decoration: none;
    color: black;
}
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;  /* Evita desbordamiento horizontal */
    background-color: rgb(17, 17, 17);
}
button{
    cursor: pointer;
}
.container{
    max-width: 414px;   /* Ancho máximo de 414px */
    width: 100%;        /* Ocupa el 100% del ancho hasta el límite de 414px */
    margin: 0 auto;     /* Centrado en la pantalla */
    box-sizing: border-box;
}
/* Asegurarse de que ningún elemento se salga del contenedor */ 
/*img, video, iframe, .articulo, .escoger_seccion, main {
    max-width: 100%;    /* Asegura que los elementos no se salgan del contenedor */
    /*width: 100%;        /* Se adapta al ancho del contenedor */
   /* height: auto;       /* Mantiene proporción de altura */
   /* overflow: hidden;   /* Evita desbordamiento */
/*}*/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(9, 137, 250);*/
}
.carrito{
    position: relative;
    /*background-color: rgb(255, 153, 0);*/
    margin-right: 7px;
}
#carrito_compras{
    display: flex;
    /*position: absolute;
    top: 30px;
    left: 40px;*/
}
#carrito_compras_logo{
    width: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: white;
}
#contador_carrito {
    display: none;  /* Ocultamos el contador inicialmente */
    position: absolute;
    top: -8px;
    right: -10px;
    z-index: 1; /* Se asegura de que el contador esté por encima del logo */
    background-color: rgb(255, 255, 0);
    color: black;
    border-radius: 50%;
    padding: 5px 9px;
    font-size: 0.8rem;
}
#logo_app{
    width: 180px;
    padding: 12px;
    margin-top: 0;
}
h1{
    font-size: 20px;
}
.seccion{
    width: 100%;
    display: flex;
    justify-content: center;
    /*background-color: aqua;*/
}
.escoger_seccion_contenedor {
    width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Evita que los elementos se envuelvan en varias líneas */
}
.escoger_seccion {
    gap: 0.3rem; /* Espacio entre los botones */
    padding: 5px 0; /* Añade un poco de padding arriba y abajo */
    /*background-color: rgb(255, 153, 19);*/
}
.escoger_seccion_a {
    flex-shrink: 0; /* Evita que los botones se reduzcan */
    color: black;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 0.9rem;
    background-color: #f0f0f0;
}
.escoger_seccion_a:first-child {
    margin-left: 0.3rem;
}
.escoger_seccion_a:last-child {
    margin-right: 0.3rem;
}
.escoger_seccion_contenedor::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores webkit */
}
.escoger_seccion_contenedor {
    -ms-overflow-style: none;  /* Oculta la barra de desplazamiento en IE y Edge */
    scrollbar-width: none;  /* Oculta la barra de desplazamiento en Firefox */
}
.boton_seleccionado {
    background-color: rgb(255, 255, 0);  /* Color de fondo para el botón seleccionado */
}
#titulo_principal{
    padding: 0.5rem;
}
.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.1rem;  /* Aplica el espacio entre los elementos flexibles */
    /*background-color: aquamarine;*/
}
.articulo{
    display: none;
    position: relative;
    flex: 0 0 35%;
    color: rgb(255, 255, 255);
    width: 140px;
    height: 200px;
    gap: 1.1rem;
    border-radius: 0.6rem;
    background-color: rgba(61, 61, 61, 0.233);
    /*background-color: rgba(18, 153, 0, 0.87);*/ /*SOLO PARA PRUEBA*/
}
.menu_articulo_textos{
    display: flex;
    width: 95%;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
    /*background-color: rgb(255, 151, 24);*/
}
.menu_articulo_textos:last-child{
    margin-bottom: 0rem;
    color: rgb(160, 160, 160);
}
/*Quitar margen derecho segundo articulo en la fila seccion all*/
.sin-margen-derecho {
    margin-right: 0 !important; /* Elimina el margen derecho */
}
.etiqueta_info{
    position: absolute;
    top: 0;  /* Ajusta esta posición según necesites */
    right: 0;  /* Ajusta esta posición según necesites */
    z-index: 1; /* Se asegura de que el contador esté por encima del logo */
    background-color: rgb(255, 255, 0);
    color: black;
    border-radius: 0 0.6rem 0 0.6rem;
    padding: 4px 4px;
    font-size: 10px;
}
#comida_logo_size{
    width: 7.5rem;
    margin-top: 0.9rem;
    margin-bottom: 0.8rem;
    /*background-color: rgb(255, 123, 0);*/
}
.articulo_info{
    margin-bottom: 0.7rem;
    /*background-color: rgb(255, 38, 0);*/
}
.contenedor_precio_boton_add{
    display: flex;
    align-items: center;
    /*background-color: blue;*/
}
.menu_articulo_precio{
    display: flex;
    width: 95%;
    margin-left: 0.5rem;
}
.boton_add{
    font-size: 0.9rem;
    color: black;
    border: none;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    margin-left: 0.4rem;
    margin-right: 0.5rem;
    background-color: rgb(255, 255, 0);
}

footer{
    display: none;
    padding: 20px;
}
.redes_sociales{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.redes_sociales_logo_link{
    margin-right: 0.5rem;
}
.redes_sociales_logo_link_{
    margin-right: 0rem;
}
.redes_sociales_logo{
    width: 1.2rem;
}



/* Contenedor para los botones y el número de cantidad */
.contenedor_cantidad {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: center; /* Opcional: centra los elementos horizontalmente */
}

.boton_menos {
    font-size: 1 rem;
    background: transparent; /* Establece el fondo como transparente */
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 0.5rem;
}

.boton_mas {
    background: transparent; /* Establece el fondo como transparente */
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0.5rem;
}

/* Estilo para el número de cantidad */
.numero_cantidad {
    color: white; /* Color del texto */
}




/* Asegurarse en pantallas grandes como tabletas y PCs */
@media (min-width: 768px) {
    .container {
        max-width: 414px;  /* Mantiene el tamaño máximo de 414px */
        width: 414px;      /* Asegura que no se expanda más allá de 414px */
    }
    .escoger_seccion_contenedor {
        overflow-x: visible; /* Desactiva el desplazamiento horizontal en pantallas grandes */
        white-space: normal; /* Permite que los botones se envuelvan a múltiples líneas si es necesario */
    }
    
    .escoger_seccion {
        display: flex;
        justify-content: center; /* Alinea los botones al centro */
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 414px;  /* Mantiene el tamaño máximo de 414px */
        width: 414px;      /* Asegura que no se expanda más allá de 414px */
    }
    .escoger_seccion_contenedor {
        overflow-x: visible; /* Desactiva el desplazamiento horizontal en pantallas grandes */
        white-space: normal; /* Permite que los botones se envuelvan a múltiples líneas si es necesario */
    }
    
    .escoger_seccion {
        display: flex;
        justify-content: center; /* Alinea los botones al centro */
    }
}

