*{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;

    /*QUITA LA OPCION DE PODER COPIAR EL TEXTO DE LA PAGINA*/
    user-select: none;  /* Deshabilita la selección de texto */
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;  /* Firefox */
    -ms-user-select: none;  /* Internet Explorer/Edge */
}
input, textarea, select, button {
    touch-action: manipulation;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: rgb(17, 17, 17);
}
button{
    cursor: pointer;
}
.container{
    max-width: 414px; /* Ancho máximo de 414px */
    width: 100%;  /* El contenedor ocupa el 100% del ancho hasta 414px */
    margin: auto;
}
#carrito_compras{
    position: absolute;
    top: 30px;
    left: 40px;
}
#carrito_compras_logo{
    width: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: white;
}
#contador_carrito {
    display: none;  /* Ocultamos el contador inicialmente */
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(255, 255, 0);
    color: black;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 0.8rem;
}
#logo_app{
    width: 180px;
    padding: 15px;
    margin-top: 0;
}
h1{
    font-size: 20px;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.escoger_seccion{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: aqua;*/
}
.escoger_seccion_a{
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    border-radius: 1.9rem;
    margin-right: 0.3rem;
    background-color: white;
}
.escoger_seccion_a:last-child{
    margin-right: 0rem;
}
#tutulo_principal{
    padding: 0.5rem;
}
.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*background-color: aquamarine;*/
}
.articulo{
    flex: 0 0 35%;
    color: rgb(255, 255, 255);
    width: 140px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(61, 61, 61, 0.233);
}
.articulo_ajuste{
    margin-right: 0px;
    /*background-color: aqua;*/
}
.menu_articulo_textos{
    display: flex;
    width: 95%;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
    /*background-color: rgb(255, 151, 24);*/
}
.menu_articulo_textos:last-child{
    margin-bottom: 0rem;
    color: rgb(160, 160, 160);
}
#comida_logo_size{
    width: 7.5rem;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    /*background-color: beige;*/
}
.articulo_info{
    margin-bottom: 0.7rem;
    /*background-color: rgb(255, 38, 0);*/
}
.contenedor_precio_boton_add{
    display: flex;
    align-items: center;
    /*background-color: blue;*/
}
.menu_articulo_precio{
    display: flex;
    width: 95%;
    margin-left: 0.5rem;
}
.boton_add{
    font-size: 0.9rem;
    color: black;
    border: none;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    margin-left: 0.4rem;
    margin-right: 0.5rem;
    background-color: rgb(255, 255, 0);
}



#perro_hp_add{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 0);
}
#perro_hp_add:hover {
    background-color: rgb(255, 174, 0);
}


footer{
    padding: 20px;
}
.redes_sociales{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.redes_sociales_logo_link{
    margin-right: 0.5rem;
}
.redes_sociales_logo_link_{
    margin-right: 0rem;
}
.redes_sociales_logo{
    width: 1.2rem;
}



/*CARRITO DE COMPRAS*/
.contenedor_header_compras{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    /*background-color: aqua;*/
}
.carrito_compras_logo{
    width: 1rem;
}
#atras{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.8rem;
}
#atras_logo{
    width: 2rem; 
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
.contenedor_main_compras{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
    /*background-color: bisque;*/
}
#boton_hacer_pedido{
    margin-top: 10px;
    color: black;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 251, 0);
}

.producto_carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.producto_carrito_boton_quitar{
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 0);
    border: none;
    color: black;
    cursor: pointer;
}

.producto_carrito_boton_quitar:hover {
    color: white;
    background-color: rgb(255, 0, 0);
}

.producto_carrito_boton_agregar{
    font-size: 1.2rem;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 0);
    border: none;
    color: black;
    cursor: pointer;
}

.producto_carrito_boton_agregar:hover {
    color: white;
    background-color: rgb(55, 173, 0);
}



/* Contenedor para los botones y el número de cantidad */
.contenedor_cantidad {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: center; /* Opcional: centra los elementos horizontalmente */
}

.boton_menos {
    font-size: 1 rem;
    background: transparent; /* Establece el fondo como transparente */
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 0.5rem;
}

.boton_mas {
    background: transparent; /* Establece el fondo como transparente */
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0.5rem;
}

/* Estilo para el número de cantidad */
.numero_cantidad {
    color: white; /* Color del texto */
}
