*{
    color: rgb(255, 255, 255);
    text-align: center;

    /*QUITA LA OPCION DE PODER COPIAR EL TEXTO DE LA PAGINA*/
    user-select: none;  /* Deshabilita la selección de texto */
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;  /* Firefox */
    -ms-user-select: none;  /* Internet Explorer/Edge */
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: rgb(17, 17, 17);
}
.container{
    max-width: 414px; /* Ancho máximo de 414px */
    width: 100%;  /* El contenedor ocupa el 100% del ancho hasta 414px */
    margin: auto;
}
#logo_app{
    width: 180px;
    padding: 15px;
}
h1{
    font-size: 20px;
}
main{
    display: flex;
    justify-content: center;
}
.escoger_seccion{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: aqua;*/
}
.escoger_seccion_a{
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 25px;
    margin-right: 5px;
    background-color: white;
}
.escoger_seccion_a:last-child{
    margin-right: 0px;
}
.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*background-color: aquamarine;*/
}
.articulo{
    flex: 0 0 35%;
    color: rgb(255, 255, 255);
    width: 140px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(61, 61, 61, 0.233);
}
.articulo:last-child{
    /*margin-right: 0;*/
}



#comida_logo_size{
    width: 120px;
    border-radius: 10px;
    margin-top: 11px;
}
#perro_hp_add{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 0);
}
#perro_hp_add:hover {
    background-color: rgb(255, 174, 0);
}


footer{
    padding: 20px;
}
